.change__password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
._mfpl {
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 22px;
  user-select: none;
  font-weight: lighter;
  margin-bottom: 25px;
}

.form__div {
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.sto {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.form__input {
  width: 350px;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #DADCE0;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label {
  position: absolute;
  font-family: "BPG Arial Caps", sans-serif;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: #80868B;
  font-size: 0.80rem;
  transition: 0.2s;
  pointer-events: none;
}
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: #1A73E8;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
}
.form__input:focus {
  border: 1.5px solid #1A73E8;
}

._btn_change {
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #1A73E8;
    color: #fff;
    font-family: "BPG Arial Caps", sans-serif;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.2s;
}
._btn_change:hover {
    background-color: #1D73C8;
}
.err {
    border: 1px solid red !important;
}
.err_lab {
    color: red !important;
}
.pass-dont {
    color: #f02849;
    font-family: "BPG Arial Caps", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}